.offer {
  padding-bottom: 79px;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 589px;
    z-index: -1;
  }
}

.preTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 16px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 24px;
}

.postTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 24px;
}

.offerButton {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 146px;
  height: 54px;
  background-color: transparent;
}

.peopleImage {
  display: block;
  background-image: url(../../images/home/people.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/home/people@2x.webp);
  }
}

.description {
  display: block;
  width: 400px;
  height: 589px;
  background-color: #28a745;
}
