.offer {
  background-color: #28a745;
  padding-bottom: 79px;
}

.preTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 16px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 24px;
}

.postTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 24px;
}

.offerButton {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 146px;
  height: 54px;
  background-color: transparent;
}
