.footer {
  height: 109px;
  background-color: #333333;
  padding: 20px 0;
}

.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.socialIconsList {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.socialIconsItem {
  display: flex;
  align-items: center;
  fill: white;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialIconsItem:not(:last-child) {
  margin-right: 25px;
}

.socialIconsItem:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #28a745;
}
