.hero {
  color: white;
  padding-top: 160px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/home/showcase.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  height: 533px;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../images/home/showcase@2x.webp);
  }

  @media screen and (min-width: 768px) {
    height: 1024px;
  }
}

.heroTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 16px;
}

.heroPostTitle {
  display: block;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.heroButton {
  background-color: #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 175px;
  height: 57px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 0 auto;
}

.iconHero {
  margin-right: 8px;
}
