.header {
  display: flex;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.headerSvg {
  margin-right: 8px;
  padding-top: 25.69px;

  @media screen and (min-width: 768px) and (max-width: 1359px) {
    padding-top: 25.19px;
    margin-right: 9.69px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 40.5px;
    margin-right: 4px;
  }
}

.logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  margin-right: auto;
  padding-top: 32px;

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 48px;
  }
}

.logoPart {
  color: #28a745;
  margin-right: 4px;
}

.navList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 48px;
}

.navItem {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  &:nth-child(1) {
    margin-right: 46px;
  }
  &:nth-child(2) {
    margin-right: 46.5px;
  }
  &:nth-child(3) {
    margin-right: 52.5px;
  }
  &:nth-child(4) {
    margin-right: 50.5px;
  }
}

.navButton {
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}
